<md-list class="student-list">
	<md-input-container class="md-icon-float" ng-hide="loading">
      <ng-md-icon icon="search" size="35"></ng-md-icon>
      <input ng-model="query" type="text" placeholder="Search By Name">
    </md-input-container>

	<md-list-item class="md-3-line student" ng-repeat="student in students | filter:query" ng-click="route(info_view, student)">
		<ng-md-icon icon="account_circle" size="50"></ng-md-icon>
		<div class="md-list-item-text">
			<h4>{{ student.name }}</h4>
			<h4>{{ student.address }}</h4>
		</div>
		<md-button class="md-icon-button" aria-label="Info">
	          <ng-md-icon icon="format_list_bulleted"></ng-md-icon>
	    </md-button>
	</md-list-item>
</md-list>
