<md-subheader class="md-primary">
<md-button class="md-icon-button back-button" aria-label="Back" ng-click="route(list_view)">
      <ng-md-icon icon="arrow_back" style="fill:darkblue" size="35"></ng-md-icon>
	</md-button>
</md-subheader>
<form ng-submit="submitData()">
	<md-input-container class="md-icon-float" >
      <ng-md-icon icon="person" size="24"></ng-md-icon>
      <input ng-model="selectedStudent.name" type="text" placeholder="Full Name" ng-required="true" pattern=".{6,40}">
    </md-input-container>
    <md-input-container>
      <ng-md-icon icon="phone" size="24"></ng-md-icon>
      <input ng-model="selectedStudent.phone" type="text" placeholder="Phone Number" ng-required="true" pattern="\d{10}">
    </md-input-container>
    <md-input-container >
      <ng-md-icon icon="email" size="24"></ng-md-icon>
      <input ng-model="selectedStudent.email" type="email" placeholder="Email" ng-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
    </md-input-container>
    <md-input-container>
      <ng-md-icon icon="place" size="24"></ng-md-icon>
      <input ng-model="selectedStudent.address" type="text" placeholder="Address" ng-required="true" pattern=".{6,40}">
    </md-input-container>
    <md-button class="md-icon-button class save-button" aria-label="Submit" type="submit">
      <ng-md-icon icon="save" style="fill:green" size="40"></ng-md-icon>
	</md-button>
</form>