<md-button class="md-icon-button back-button" aria-label="Back" ng-click="route(list_view)">
      <ng-md-icon icon="arrow_back" style="fill:darkblue" size="35"></ng-md-icon>
	</md-button>

<fieldset>
<div class="info-labels">
  <h3> Name: </h3>
  <h3> Phone: </h3>
  <h3> Email: </h3>
  <h3> Address: </h3>
</div>	
<div class="info-values">
  <h3> {{ selectedStudent.name }} </h3>
  <h3> {{ selectedStudent.phone }} </h3>
  <h3> {{ selectedStudent.email }} </h3>
  <h3> {{ selectedStudent.address }} </h3>
</div>
</fieldset>

<md-button class="md-icon-button" aria-label="Edit" ng-click="route(form_view, selectedStudent)">
      <ng-md-icon icon="create" style="fill:green"></ng-md-icon>
</md-button>
<md-button class="md-icon-button" aria-label="Delete" ng-click="deleteStudent($event)">
      <ng-md-icon icon="clear" style="fill:red"></ng-md-icon>
</md-button>