*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.head1{
	color: #ecf0f1;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 15px;
	height: 20px;
}
.head2{
	color: #bdc3c7;
	font-size: 14px;
	margin-left: 15px;
	height: 20px;
}

.react-component{
	position: relative;
	height: 500px;
	width: 600px;
	background: #2c3e50;
}

.header, .footer{
	display: inline-block;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

.content{
	position: relative;
	height: calc(100% - 200px);
	width: 100%;
	overflow: hidden;
	background: #2c3e50;
}

.list{
	height: calc(100% - 20px);
	overflow-y: scroll;
}

.available{
	height: 100%;
	width: 50%;
	float: left;
	border-right: 1px dashed darkgray;
}

.visible{
	height: 100%;
	width: 50%;
	float: right;
}

.list-item{
	background: #2c3e50;
	color: #ecf0f1;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding-left: 55px;
	font-family: inherit;
	font-style: normal;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-item:hover{
	background: #34495e;
	opacity: .85;
}

.list-item.locked{
	color: #7f8c8d;
	opacity: .75;
}

.list-item-end{
	opacity: 0;
}

#list-item-drop{
	background: #95a5a6;
	opacity: .3;
}

.button-toolbar{
	margin-top: 40px;
	margin-left: 15px;
}

.close-icon{
	float: right;
	color: lightgray;
	margin-right: 10px;
	margin-top: 10px;
}

.glyphicon-lock:before {
  position: absolute;
  left: 30px;
  bottom: 11px;
  font-family: 'Glyphicons Halflings';
}