/*

*{
	background: #2c3e50 !important;
	color: #ecf0f1;
}*/
.head1{
	color: #ecf0f1;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 15px;
	height: 20px;
}
.head2{
	color: #bdc3c7;
	font-size: 14px;
	margin-left: 15px;
	height: 20px;
}

div.component{
	position: relative;
	height: 500px;
	width: 600px;
	background: #2c3e50;
}

.header, .footer{
	display: inline-block;
	height: 100px;
	width: 100%;
	overflow: hidden;
}

.content{
	position: relative;
	height: calc(100% - 200px);
	width: 100%;
	overflow: hidden;
	background: #2c3e50;
}

.list{
	height: calc(100% - 20px);
	overflow-y: scroll;
}

.available{
	height: 100%;
	width: 50%;
	float: left;
	border-right: 1px dashed darkgray;
	/*overflow-y: scroll;*/
}

.visible{
	height: 100%;
	width: 50%;
	float: right;
	/*overflow-y: scroll;*/
}

.list-item{
	background: #2c3e50;
	color: #ecf0f1;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

.list-item:hover{
	background: #34495e;
	opacity: .85;
}

.list-item.locked{
	color: red;
	opacity: .65;
}

.list-item-end, .locked-icon{
	opacity: 0;
}

.locked .locked-icon{
	opacity: 1;
}

#list-item-drop{
	background: #95a5a6;
	opacity: .3;
}

.button-toolbar{
	margin-top: 40px;
	margin-left: 15px;
}

.close-icon{
	float: right;
	color: lightgray;
	margin-right: 10px;
	margin-top: 10px;
}